article{
  font-family: Arial;
}
header{
  background-color: #000;
}
nav{
  display: grid;
  height: 80px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 15px;
}

nav ul{
  display: flex;
  position: absolute;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-decoration: none;
  color:#fff;
  text-align: center;
  cursor: pointer;
}

nav ul li a:hover{
  color: rgb(84, 188, 10);
  font-size: 1.3em;
}
.checkbtn{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
h1{
  font-size: 1.1em;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 700px) {
  .site{
    padding:20px;
}
.site .site1 .site2 {
  text-align: center;
  padding: 30px 20px;
  margin-top: 150px;
}
  .checkbtn {
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    height: 100vh;
    display: block;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #000;
  }
  #click:checked ~ ul{
    left: 0;
  }
  .formedia img{
    height:200px;
    width: 300px;
    
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
    position: justify;
    display: block;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
/*working with css grid method*/
.site{
  padding:5px 3%;
  background-color: #000;
}

.site .heading{
  text-align: center;
  padding-bottom: 15px;
  color:#fff;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: 50px;
}

.site .site1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.site .site1 .site2{
  text-align: center;
  padding:30px 20px;
}

.site .site1 .site2 img{
  margin-bottom: 10px;
  height: 180px;
}

.site .site1 .site2 article{
  font-size: 15px;
  line-height: 1.8;
  color: #fff;
  text-align:justify;
}
p{
color:#fff;
}

@media (max-width:768px){
  .site{
      padding:20px;
  }
}